{% load static %}
<html lang=en>
<head>
        <meta charset=utf-8>
        <meta http-equiv=X-UA-Compatible content="IE=edge">
        <meta name=viewport content="width=device-width, initial-scale=1">
        <meta name=description content="">
        <meta name=author content="">
        <title>Bar</title>
        <link rel="shortcut icon" href="/static/assets/dist/img/Hotel-logo.jpg" type="logo">
        <script src="/static/../../../../ajax.googleapis.com/ajax/libs/webfont/1.6.26/webfont.js"></script>
        <script>
            WebFont.load({
                google: {
                    families: ['Alegreya+Sans:100,100i,300,300i,400,400i,500,500i,700,700i,800,800i,900,900i', 'Raleway:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i', 'Open Sans']
                }
            });
        </script>  
        <link href="/static/assets/dist/css/base.css" rel=stylesheet type="text/css"/>
        <link href="/static/https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        <link href="/static/assets/plugins/emojionearea/emojionearea.min.css" rel=stylesheet type="text/css"/>
        <link href="/static/assets/plugins/monthly/monthly.min.css" rel=stylesheet type="text/css"/>
        <link href="/static/assets/plugins/amcharts/export.css" rel=stylesheet type="text/css"/>
        <link href="/static/assets/dist/css/component_ui.min.css" rel=stylesheet type="text/css"/>
        <link id=defaultTheme href="/static/assets/dist/css/skins/skin-dark-1.min.css" rel=stylesheet type="text/css"/>
        <link href="/static/assets/dist/css/custom.css" rel="stylesheet" type="text/css"/>
    </head>
    <body>
        <div id=wrapper class="wrapper animsition">
            <nav class="navbar navbar-fixed-top">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="sr-only">Toggle navigation</span>
                        <i class="material-icons">apps</i>
                    </button>
                    <a class="navbar-brand" href="/index">
                        <p>SDS HOTEL</p>
                    </a>
                </div>
                <div class="nav-container">
                    <ul class="nav navbar-nav hidden-xs">
                        <li><a id="menu-toggle" href="#"><i class="material-icons">apps</i></a></li>
                        <li><a href="/payments" target="_blank" class="btn-buy hidden-xs hidden-sm hidden-md">Book Now</a></li>
                    </ul>
                    <ul class="nav navbar-top-links navbar-right">
                        <li class="dropdown">
                            <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                                <i class="material-icons">chat</i>
                                <span class="label label-danger"></span>
                            </a>
                            <ul class="dropdown-menu dropdown-messages">
                                <li class="rad-dropmenu-header"><a href="#">New Messages</a></li>
                                <li>
                                    <a href="#" class="rad-content">
                                        <div class="inbox-item">
                                            <div class="inbox-item-img"><img src="/static/assets/dist/img/abbas.jpeg" class="img-circle" alt=""></div>
                                            <strong class="inbox-item-author">Durga Prasad</strong>
                                            <span class="inbox-item-date">-13:40 PM</span>
                                            <p class="inbox-item-text">Hey! there I'm available...</p>
                                            <span class="profile-status available pull-right"></span>
                                        </div>
                                    </a>
                                </li>
                                <li>
                                    <a href="#" class="rad-content">
                                        <div class="inbox-item">
                                            <div class="inbox-item-img"><img src="/static/assets/dist/img/avatar5.png" class="img-circle" alt=""></div>
                                            <strong class="inbox-item-author">Sahith</strong>
                                            <span class="inbox-item-date">-13:40 PM</span>
                                            <p class="inbox-item-text">Hey! there I'm available...</p>
                                            <span class="profile-status away pull-right"></span>
                                        </div>
                                    </a>
                                </li>
                                <li>
                                    <a href="#" class="rad-content">
                                        <div class="inbox-item">
                                            <div class="inbox-item-img"><img src="/static/assets/dist/img/avatar.png' %}" class="img-circle" alt=""></div>
                                            <strong class="inbox-item-author">Sai Kumar</strong>
                                            <span class="inbox-item-date">-13:40 PM</span>
                                            <p class="inbox-item-text">Hey! there I'm available...</p>
                                            <span class="profile-status busy pull-right"></span>
                                        </div>
                                    </a>
                                </li>
                                <li>
                                    <a href="#" class="rad-content">
                                        <div class="inbox-item">
                                            <div class="inbox-item-img"><img src="/static/assets/dist/img/avatar4.png' %}" class="img-circle" alt=""></div>
                                            <strong class="inbox-item-author">Taman</strong>
                                            <span class="inbox-item-date">-13:40 PM</span>
                                            <p class="inbox-item-text">Hey! there I'm available...</p>
                                            <span class="profile-status offline pull-right"></span>
                                        </div>
                                    </a>
                                </li>
                                <li class="rad-dropmenu-footer"><a href="#">View All messages</a></li>
                            </ul> 
                        </li>
                        </li>
                        <li class="dropdown">
                            <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                                <i class="material-icons">person_add</i>
                            </a>
                            <ul class="dropdown-menu dropdown-user">
                                <li><a href="/customerprofile"><i class="ti-user"></i>&nbsp; Profile</a></li>
                                <li><a href="/AdminLoginPage"><i class="ti-lock"></i>&nbsp; Lock Screen</a></li>
                                <li><a href="/AdminLoginPage"><i class="ti-layout-sidebar-left"></i>&nbsp; Logout</a></li>
                            </ul>
                        </li>
                        <li class="log_out">
                            <a href="/AdminLoginPage">
                                <i class="material-icons">power_settings_new</i>
                            </a>
                        </li>
                    </ul> 
                </div>
            </nav>
            <div class="sidebar" role="navigation">
                <div class="sidebar-nav navbar-collapse">
                    <ul class="nav" id="side-menu">
                        <li class="nav-heading "> <span> Main&nbsp;&nbsp;&nbsp;&nbsp;</span></li>
                        <li>
                            <a href="/AdminLoginPage" class="material-ripple"><i class="material-icons">home</i> Dashboard <span class="fa arrow"></span></a>
                            <ul class="nav nav-second-level">
                                <li><a href="/report">Daily reports</a></li>
                                <li><a href="/index">About hotel</a></li>
                                <li>
                                    <a href="/Gallery">Gallery</a>
                                    
                                </li>
                                </ul>
                        </li>      
                        </li>
                        <li class="nav-heading "> <span>Customer&nbsp;&nbsp;&nbsp;&nbsp;</span></li>
                        <li>
                            <a href="#" class="material-ripple"><i class="material-icons">people</i> Customer Details<span class="fa arrow"></span></a>
                            <ul class="nav nav-second-level">
                                <li><a href="/addcustomers">Add Customer</a></li>
                                <li><a href="/customerdetails">View Customer Details</a></li>
                                <li><a href="/customerprofile">Customer ratings</a></li>
                            </ul>
                        </li>
                       
                    </li>
                </li>
                <li class="nav-heading "> <span>Employee &nbsp;&nbsp;&nbsp;&nbsp;</span></li>
                <li>
                    <a href="#" class="material-ripple"><i class="material-icons">person_outline</i>Employee details<span class="fa arrow"></span></a>
                    <ul class="nav nav-second-level">
                        <li><a href="/addemployee">Add Employee</a></li>
                        <li><a href="/Employeelist">Employee list</a></li>
                        <li><a href="/leave">Leaves</a></li>
                        <li><a href="/Attendence">Attendence</a></li>
                    </ul>
                </li>
                        
                <li class="nav-heading "> <span>Hotels&nbsp;&nbsp;&nbsp;&nbsp;</span></li>
                
                <li>
                    <a href="#" class="material-ripple"><i class="material-icons">hotel</i> Hotels<span class="fa arrow"></span></a>
                    <ul class="nav nav-second-level">
                        <li><a href="/Map">Locations of Hotel</a></li>
                    
                        <li><a href="/room1">Rooms</a></li>
                        <li><a href="/roomhistory">RoomHistory</a></li>
                        <li><a href="/pricing">Pricing Of Every Room</a></li>
                        <li><a href="/party">Parties & Function Halls</a></li>
                    </ul>
                </li>
                <li>
                    <a href="/events" class="material-ripple"><i class="material-icons">local_offer</i> Events On Special Day's<span class="fa arrow"></span></a>     
                </li>
                <li class="nav-heading "> <span>Payments&nbsp;&nbsp;&nbsp;&nbsp;</span></li>
               <li> <a href="#" class="material-ripple"><i class="material-icons">credit_card</i>Payments<span class="fa arrow"></span></a>
                    <ul class="nav nav-second-level">
                        <li><a href="/payments">Payment</a></li>
                        <li><a href="/paymenthistory">Payment History</a></li>
                        <li><a href="/invoice">Invoice</a></li>
                    </ul>
                    </li>

                    <li class="nav-heading "><span>Others&nbsp;&nbsp;&nbsp;&nbsp;</span></li>
                    <li>
                        <a href="#" class="material-ripple"><i class="material-icons">store_mall_directory</i>Other Services<span class="fa arrow"></span></a>
                        <ul class="nav nav-second-level">
                            <li><a href="/Transportation">Cab Services</a></li>
                            <li><a href="/cabhistory">Cab History</a></li>  
                            <li><a href="/RestarantMenu">Restaruent</a></li>
                            <li><a href="/ResPay">Payment</a></li>
                            <li><a href="/Bar">Bar</a></li>
                            <li><a href="/spa">Spa</a></li>
                        </ul>
                    </li>
                        <li class="nav-heading "> <span>Contact Details&nbsp;&nbsp;&nbsp;&nbsp;</span></li>
                        <li>
                            <a href="#" class="material-ripple"><i class="material-icons">phone_in_talk</i> Contact Us<span class="fa arrow"></span></a>
                            <ul class="nav nav-second-level">
                                <li> <a href="/Contact">Contact </a></li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="control-sidebar-bg"></div>
            <div id="page-wrapper">
                <div class="content">
                    <div class="content-header">
                        <div class="header-icon"><i class="pe-7s-close"></i></div>
                        <div class="header-title">
                            <h1>BAR</h1>
                            <small>It all starts here</small>
                            <ol class="breadcrumb">
                                <li><a href="#">This is</a></li>
                                <li class="active">Breadcrumb</li>
                            </ol>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12 col-md-12">
                            <div class="panel panel-bd lobidrag">
                                
                                <div class="panel-body">
                                    <div class="row">
                                        <div class="col-sm-6">
                                            <div class="panel panel-bd">
                                                <div class="panel-body">
                                                    
                                                    <div id="carousel-1" class="carousel slide" data-ride="carousel">
                                                       
                                                        <ol class="carousel-indicators">
                                                            <li data-target="#carousel-1" data-slide-to="0" class="active"></li>
                                                            <li data-target="#carousel-1" data-slide-to="1"></li>
                                                            <li data-target="#carousel-1" data-slide-to="2"></li>
                                                        </ol>
                                                        
                                                        <div class="carousel-inner" role="listbox">
                                                            <div class="item active">
                                                                <img src="/static/assets/dist/img/carousel-31.jpg" alt="...">
                                                                <div class="carousel-caption">
                                                                    <h3 class="text-white"></h3>
                                                                    <p class="text-white"> </p>
                                                                </div>
                                                            </div>
                                                            <div class="item">
                                                  
                                                                <img src="/static/assets/dist/img/carousel-34.jpg" alt="...">
                                                                <div class="carousel-caption">
                                                                    <h3 class="text-white"></h3>
                                                                    <p class="text-white"></p>
                                                                </div>
                                                            </div>
                                                            <div class="item">
                                                                <img src="/static/assets/dist/img/carousel-35.jpg" alt="...">
                                                                <div class="carousel-caption">
                                                                    <div class="carousel-caption">
                                                                        <h3 class="text-white"></h3>
                                                                        <p class="text-white"></p>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        
                                                        <a class="left carousel-control" href="/static/#carousel-1" role="button" data-slide="prev">
                                                            <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
                                                            <span class="sr-only">Previous</span>
                                                        </a>
                                                        <a class="right carousel-control" href="/static/#carousel-1" role="button" data-slide="next">
                                                            <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
                                                            <span class="sr-only">Next</span>
                                                        </a>
                                                    </div>  
                                                </div>
                                            </div>
                                        </div>
                                  
                
                                        <div class="col-sm-6">
                                            <div class="panel panel-bd">
                                                <div class="panel-body">
                                                    
                                                    <div id="carousel-2" class="carousel slide" data-ride="carousel">
                                                        
                                                        <ol class="carousel-indicators">
                                                            <li data-target="#carousel-2" data-slide-to="0" class="active"></li>
                                                            <li data-target="#carousel-2" data-slide-to="1"></li>
                                                            <li data-target="#carousel-2" data-slide-to="2"></li>
                                                        </ol>
                                                        
                                                        <div class="carousel-inner" role="listbox">
                                                            <div class="item active">
                                                                <img src="/static/assets/dist/img/carousel-32.jpg" alt="...">
                                                                <div class="carousel-caption">
                                                                    <h3 class="text-white"></h3>
                                                                    <p class="text-white"></p>
                                                                </div>
                                                            </div>
                                                            <div class="item">
                                                                <img src="/static/assets/dist/img/carousel-33.jpg" alt="...">
                                                                <div class="carousel-caption">
                                                                    <h3 class="text-white"></h3>
                                                                    <p class="text-white"></p>
                                                                </div>
                                                            </div>
                                                            <div class="item">
                                                                <img src="/static/assets/dist/img/carousel-36.jpg"alt="...">
                                                                <div class="carousel-caption">
                                                                    <div class="carousel-caption">
                                                                        <h3 class="text-white"></h3>
                                                                        <p class="text-white"></p>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <a class="left carousel-control" href="/static/#carousel-2" role="button" data-slide="prev">
                                                            <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
                                                            <span class="sr-only">Previous</span>
                                                        </a>
                                                        <a class="right carousel-control" href="/static/#carousel-2" role="button" data-slide="next">
                                                            <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
                                                            <span class="sr-only">Next</span>
                                                        </a>
                                                    </div>
                                                    </div>
                                                    </div>
                                                    </div>
                                </div>
                                
                            </div>
                        </div>
                    </div>
                </div> 
            </div>
        </div>
        
        <script data-cfasync="false" src="/static/../../../cdn-cgi/scripts/5c5dd728/cloudflare-static/email-decode.min.js"></script>
        <script src="/static/assets/plugins/jQuery/jquery-1.12.4.min.js" type="text/javascript"></script>
        <script src="/static/assets/plugins/jquery-ui-1.12.1/jquery-ui.min.js" type="text/javascript"></script>
        <script src="/static/assets/bootstrap/js/bootstrap.min.js" type="text/javascript"></script>
        <script src="/static/assets/plugins/metisMenu/metisMenu.min.js" type="text/javascript"></script>
        <script src="/static/assets/plugins/lobipanel/lobipanel.min.js" type="text/javascript"></script>
        <script src="/static/assets/plugins/animsition/js/animsition.min.js" type="text/javascript"></script>
        <script src="/static/assets/plugins/fastclick/fastclick.min.js" type="text/javascript"></script>
        <script src="/static/assets/plugins/slimScroll/jquery.slimscroll.min.js" type="text/javascript"></script>
       
        <script src="/static/assets/plugins/sparkline/sparkline.min.js" type="text/javascript"></script>
        <script src="/static/assets/plugins/chartJs/Chart.min.js" type="text/javascript"></script>
        <script src="/static/assets/plugins/counterup/waypoints.js" type="text/javascript"></script>
        <script src="/static/assets/plugins/counterup/jquery.counterup.min.js" type="text/javascript"></script>
        <script src="/static/assets/plugins/monthly/monthly.js" type="text/javascript"></script>
       
        <script src="/static/assets/dist/js/app.min.js" type="text/javascript"></script>
        <script src="/static/assets/dist/js/jQuery.style.switcher.min.js" type="text/javascript"></script>
        
    </body>


</html>