{% load static %}
<html lang=en>
<head>
        <meta charset=utf-8>
        <meta http-equiv=X-UA-Compatible content="IE=edge">
        <meta name=viewport content="width=device-width, initial-scale=1">
        <meta name=description content="">
        <meta name=author content="">
        <title>Events</title>
        <link rel="shortcut icon" href="/static/assets/dist/img/Hotel-logo.jpg" type="logo">
        <script src="/static/../../../../ajax.googleapis.com/ajax/libs/webfont/1.6.26/webfont.js"></script>
        <script>
            WebFont.load({
                google: {
                    families: ['Alegreya+Sans:100,100i,300,300i,400,400i,500,500i,700,700i,800,800i,900,900i', 'Raleway:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i', 'Open Sans']
                }
            });
        </script>
        
        <link href="/static/assets/dist/css/base.css" rel=stylesheet type="text/css"/>
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        <link href="/static/assets/plugins/emojionearea/emojionearea.min.css" rel=stylesheet type="text/css"/>
        <link href="/static/assets/plugins/monthly/monthly.min.css" rel=stylesheet type="text/css"/>
        <link href="/static/assets/plugins/amcharts/export.css" rel=stylesheet type="text/css"/>
        <link href="/static/assets/dist/css/component_ui.min.css" rel=stylesheet type="text/css"/>
        <link id=defaultTheme href="/static/assets/dist/css/skins/skin-dark-1.min.css" rel=stylesheet type="text/css"/>
        <link href="/static/assets/dist/css/custom.css" rel="stylesheet" type="text/css"/>
        
    </head>
    <body>
        <div id=wrapper class="wrapper animsition">
          
            <nav class="navbar navbar-fixed-top">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="sr-only">Toggle navigation</span>
                        <i class="material-icons">apps</i>
                    </button>
                    <a class="navbar-brand" href="/AboutHotelpanel">
                        <p>SDS HOTEL</p>
                       
                        
                    </a>
                </div>
                <div class="nav-container">
                   
                    <ul class="nav navbar-nav hidden-xs">
                        
                    
                       
                        <li><a id="menu-toggle" href="#"><i class="material-icons">apps</i></a></li>
                       
                    
                        <li><a href="/Paymentspanel" target="_blank" class="btn-buy hidden-xs hidden-sm hidden-md">Book Now</a></li>
                    </ul>
                    <ul class="nav navbar-top-links navbar-right">
                        <li class="dropdown">
                            <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                                <i class="material-icons">chat</i>
                                <span class="label label-danger"></span>
                            </a>
                            <ul class="dropdown-menu dropdown-messages">
                                <li class="rad-dropmenu-header"><a href="#">New Messages</a></li>
                                <li>
                                    <a href="#" class="rad-content">
                                        <div class="inbox-item">
                                            <div class="inbox-item-img"><img src="{% static 'assets/dist/img/abbas.jpeg' %}" class="img-circle" alt=""></div>
                                            <strong class="inbox-item-author">Durga Prasad</strong>
                                            <span class="inbox-item-date">-13:40 PM</span>
                                            <p class="inbox-item-text">Hey! there I'm available...</p>
                                            <span class="profile-status available pull-right"></span>
                                        </div>
                                    </a>
                                </li>
                                <li>
                                    <a href="#" class="rad-content">
                                        <div class="inbox-item">
                                            <div class="inbox-item-img"><img src="{% static 'assets/dist/img/avatar5.png' %}" class="img-circle" alt=""></div>
                                            <strong class="inbox-item-author">Sahith</strong>
                                            <span class="inbox-item-date">-13:40 PM</span>
                                            <p class="inbox-item-text">Hey! there I'm available...</p>
                                            <span class="profile-status away pull-right"></span>
                                        </div>
                                    </a>
                                </li>
                                <li>
                                    <a href="#" class="rad-content">
                                        <div class="inbox-item">
                                            <div class="inbox-item-img"><img src="{% static 'assets/dist/img/avatar.png' %}" class="img-circle" alt=""></div>
                                            <strong class="inbox-item-author">Sai Kumar</strong>
                                            <span class="inbox-item-date">-13:40 PM</span>
                                            <p class="inbox-item-text">Hey! there I'm available...</p>
                                            <span class="profile-status busy pull-right"></span>
                                        </div>
                                    </a>
                                </li>
                                <li>
                                    <a href="#" class="rad-content">
                                        <div class="inbox-item">
                                            <div class="inbox-item-img"><img src="{% static 'assets/dist/img/avatar4.png' %}" class="img-circle" alt=""></div>
                                            <strong class="inbox-item-author">Taman</strong>
                                            <span class="inbox-item-date">-13:40 PM</span>
                                            <p class="inbox-item-text">Hey! there I'm available...</p>
                                            <span class="profile-status offline pull-right"></span>
                                        </div>
                                    </a>
                                </li>
                               
                            </ul> 
                        </li>
                        
                        </li>
                        
                        
                        <li class="dropdown">
                            <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                                <i class="material-icons">person_add</i>
                            </a>
                            <ul class="dropdown-menu dropdown-user">
                                <li><a href="/customerprofile"><i class="ti-user"></i>&nbsp; Profile</a></li>
                                <li><a href="/customerlogin"><i class="ti-lock"></i>&nbsp; Lock Screen</a></li>
                                <li><a href="/customerlogin"><i class="ti-layout-sidebar-left"></i>&nbsp; Logout</a></li>
                            </ul>
                        </li>
                        <li class="log_out">
                            <a href="/customerlogin">
                                <i class="material-icons">power_settings_new</i>
                            </a>
                        </li>
                    </ul> 
                </div>
            </nav>
            
            <div class="sidebar" role="navigation">
                <div class="sidebar-nav navbar-collapse">
                    <ul class="nav" id="side-menu">
                        <li class="nav-heading "> <span> Main&nbsp;&nbsp;&nbsp;&nbsp;</span></li>
                        <li>
                            <a href="" class="material-ripple"><i class="material-icons">home</i> Dashboard <span class="fa arrow"></span></a>
                            <ul class="nav nav-second-level">
                               
                                <li><a href="/AboutHotelpanel">About hotel</a></li>
                                <li>
                                    <a href="/Gallerypanel">Gallery</a>
                                    
                                </li>
                                </ul>
                        </li>
                        
                        </li>
                        <li class="nav-heading "> <span>Customer&nbsp;&nbsp;&nbsp;&nbsp;</span></li>
                        <li>
                            <a href="#" class="material-ripple"><i class="material-icons">people</i> Customer Details<span class="fa arrow"></span></a>
                            <ul class="nav nav-second-level">
                                
                                <li><a href="/CustamerRatingpanel">Customer ratings</a></li>
                            </ul>
                        </li>
                       
                    </li>
                </li>
                
                
                        
                <li class="nav-heading "> <span>Rooms&nbsp;&nbsp;&nbsp;&nbsp;</span></li>
                
                <li>
                    <a href="#" class="material-ripple"><i class="material-icons">hotel</i> Book a Rooms<span class="fa arrow"></span></a>
                    <ul class="nav nav-second-level">
                        <li><a href="/Mappanel">Locations of Hotel</a></li>
                    
                        <li><a href="/Room1panel">Rooms</a></li>
                        <li><a href="/Pricingpanel">Pricing Of Every Room</a></li>
                        <li><a href="/Partypanel">Parties & Function Halls</a></li>
                    </ul>
                </li>
                <li>
                    <a href="/Eventspanel" class="material-ripple"><i class="material-icons">local_offer</i> Events On Special Day's<span class="fa arrow"></span></a>
                    
                       
                </li>
                <li class="nav-heading "> <span>Payments&nbsp;&nbsp;&nbsp;&nbsp;</span></li>
               <li> <a href="#" class="material-ripple"><i class="material-icons">credit_card</i>Payments<span class="fa arrow"></span></a>
                    <ul class="nav nav-second-level">
                        <li><a href="/Paymentspanel">Payment</a></li>
                    </ul>
                    </li>
                    <li class="nav-heading "><span>Others&nbsp;&nbsp;&nbsp;&nbsp;</span></li>
                    <li>
                        <a href="#" class="material-ripple"><i class="material-icons">store_mall_directory</i>Other Services<span class="fa arrow"></span></a>
                        <ul class="nav nav-second-level">
                            <li><a href="/Cabpanel">Cab Services</a></li> 
                            <li><a href="/Restarentpanel">Restaruent</a></li>
                            <li><a href="/Respaypanel">Payment</a></li>
                            <li><a href="/Barpanel">Bar</a></li>
                            <li><a href="/Spapanel">Spa</a></li>
                        </ul>
                    </li>
                        <li class="nav-heading "> <span>Contact Details&nbsp;&nbsp;&nbsp;&nbsp;</span></li>
                        <li>
                            <a href="#" class="material-ripple"><i class="material-icons">phone_in_talk</i> Contact Us<span class="fa arrow"></span></a>
                            <ul class="nav nav-second-level">
                                <li> <a href="/Contactpanel">Contact </a></li>
                            </ul>
                        </li>
                    </ul>
                </div>
                
            </div>
            <div class="side-bar right-bar">
                <div class="">
                  
                    <ul class="nav nav-tabs right-sidebar-tabs" role="tablist">
                    <li role="presentation" class="active"><a href="/static/#home" aria-controls="home" role="tab" data-toggle="tab"><i class="material-icons">home</i></a></li>
                   
                    </ul>
                   
                    <div class="tab-content">
                        <div role="tabpanel" class="tab-pane fade  in active" id="home">
                            <ul id="styleOptions" title="switch styling">
                                <li><b>Dark Skin</b></li>
                                <li><a href="/static/javascript: void(0)" data-theme="skin-blue.min"><img src="/static/assets/dist/img/theme-color/1.jpg" alt=""/></a></li>
                                <li><a href="/static/javascript: void(0)" data-theme="skin-dark.min"><img src="/static/assets/dist/img/theme-color/2.jpg" alt=""/></a></li>
                                <li><a href="/static/javascript: void(0)" data-theme="skin-red-light.min" class="skin-logo"><img src="/static/assets/dist/img/theme-color/5.jpg" alt=""/></a></li>
                                <li><b>Dark Skin sidebar</b></li>
                                <li><a href="/static/javascript: void(0)" data-theme="skin-default.min"><img src="/static/assets/dist/img/theme-color/7.jpg" alt=""/> </a></li>
                                <li><a href="/static/javascript: void(0)" data-theme="skin-red-dark.min"><img src="/static/assets/dist/img/theme-color/6.jpg" alt=""/></a></li>
                                <li><a href="/static/javascript: void(0)" data-theme="skin-dark-1.min"><img src="/static/assets/dist/img/theme-color/8.jpg" alt=""/></a></li>
                                <li><b>Light Skin sidebar</b></li>
                                <li><a href="/static/javascript: void(0)" data-theme="skin-default-light.min" class="skin-logo"><img src="/static/assets/dist/img/theme-color/3.jpg" alt=""/></a></li>
                                <li><a href="/static/javascript: void(0)" data-theme="skin-white.min"><img src="/static/assets/dist/img/theme-color/4.jpg" alt=""/></a> </li>
                            </ul>
                        </div>
                        <div role="tabpanel" class="tab-pane fade " id="profile">
                            <h3 class="sidebar-heading">Activity</h3>
                            <div class="rad-activity-body">
                                <div class="rad-list-group group">
                                    <a href="#" class="rad-list-group-item">
                                        <div class="rad-list-icon bg-red pull-left"><i class="fa fa-phone"></i></div>
                                        <div class="rad-list-content"><strong>Client meeting</strong>
                                            <div class="md-text">Meeting at 10:00 AM</div>
                                        </div>
                                    </a>
                                    <a href="#" class="rad-list-group-item">
                                        <div class="rad-list-icon bg-yellow pull-left"><i class="fa fa-refresh"></i></div>
                                        <div class="rad-list-content"><strong>Created ticket</strong>
                                            <div class="md-text">Ticket assigned to Dev team</div>
                                        </div>
                                    </a>
                                    <a href="#" class="rad-list-group-item">
                                        <div class="rad-list-icon bg-primary pull-left"><i class="fa fa-check"></i></div>
                                        <div class="rad-list-content"><strong>Activity completed</strong>
                                            <div class="md-text">Completed the dashboard html</div>
                                        </div>
                                    </a>
                                    <a href="#" class="rad-list-group-item">
                                        <div class="rad-list-icon bg-green pull-left"><i class="fa fa-envelope"></i></div>
                                        <div class="rad-list-content"><strong>New Invitation</strong>
                                            <div class="md-text">Max has invited you to join Inbox</div>
                                        </div>
                                    </a>
                                </div>
                            </div>
                    
                            
                            <h3 class="sidebar-heading">Tasks Progress</h3>
                            <ul class="sidebar-menu">
                                <li>
                                    <a href="#">
                                        <h4 class="subheading">
                                            Task one
                                            <span class="label label-danger pull-right">40%</span>
                                        </h4>
                                        <div class="progress">
                                            <div class="progress-bar progress-bar-danger progress-bar-striped active" style="width: 40%"></div>
                                        </div>
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <h4 class="subheading">
                                            Task two
                                            <span class="label label-success pull-right">20%</span>
                                        </h4>
                                        <div class="progress">
                                            <div class="progress-bar progress-bar-success progress-bar-striped active" style="width: 20%"></div>
                                        </div>
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <h4 class="subheading">
                                            Task Three
                                            <span class="label label-warning pull-right">60%</span>
                                        </h4>
                                        <div class="progress">
                                            <div class="progress-bar progress-bar-warning progress-bar-striped active" style="width: 60%"></div>
                                        </div>
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <h4 class="subheading">
                                            Task four
                                            <span class="label label-primary pull-right">80%</span>
                                        </h4>
                                        <div class="progress">
                                            <div class="progress-bar progress-bar-primary progress-bar-striped active" style="width: 80%"></div>
                                        </div>
                                    </a>
                                </li>
                            </ul>
                           
                        </div>
                        <div role="tabpanel" class="tab-pane fade " id="messages">
                            <div class="message_widgets">
                                <a href="#">
                                    <div class="inbox-item">
                                        <div class="inbox-item-img"><img src="/static/assets/dist/img/abbas.jpeg" class="img-circle" alt=""></div>
                                        <strong class="inbox-item-author">Durga Prasad</strong>
                                        <span class="inbox-item-date">-13:40 PM</span>
                                        <p class="inbox-item-text">Hey! there I'm available...</p>
                                        <span class="profile-status available pull-right"></span>
                                    </div>
                                </a>
                                <a href="#">
                                    <div class="inbox-item">
                                        <div class="inbox-item-img"><img src="/static/assets/dist/img/avatar2.png" class="img-circle" alt=""></div>
                                        <strong class="inbox-item-author">Sahith</strong>
                                        <span class="inbox-item-date">-13:40 PM</span>
                                        <p class="inbox-item-text">Hey! there I'm available...</p>
                                        <span class="profile-status away pull-right"></span>
                                    </div>
                                </a>
                                <a href="#">
                                    <div class="inbox-item">
                                        <div class="inbox-item-img"><img src="/static/assets/dist/img/avatar3.png" class="img-circle" alt=""></div>
                                        <strong class="inbox-item-author">Sai Kumar</strong>
                                        <span class="inbox-item-date">-13:40 PM</span>
                                        <p class="inbox-item-text">Hey! there I'm available...</p>
                                        <span class="profile-status busy pull-right"></span>
                                    </div>
                                </a>
                                <a href="#">
                                    <div class="inbox-item">
                                        <div class="inbox-item-img"><img src="/static/assets/dist/img/avatar4.png" class="img-circle" alt=""></div>
                                        <strong class="inbox-item-author">Kalyan</strong>
                                        <span class="inbox-item-date">-13:40 PM</span>
                                        <p class="inbox-item-text">Hey! there I'm available...</p>
                                        <span class="profile-status offline pull-right"></span>
                                    </div>
                                </a>
                                <a href="#">
                                    <div class="inbox-item">
                                        <div class="inbox-item-img"><img src="/static/assets/dist/img/avatar5.png" class="img-circle" alt=""></div>
                                        <strong class="inbox-item-author">Amir</strong>
                                        <span class="inbox-item-date">-13:40 PM</span>
                                        <p class="inbox-item-text">Hey! there I'm available...</p>
                                        <span class="profile-status available pull-right"></span>
                                    </div>
                                </a>
                                <a href="#">
                                    <div class="inbox-item">
                                        <div class="inbox-item-img"><img src="/static/assets/dist/img/avatar.png" class="img-circle" alt=""></div>
                                        <strong class="inbox-item-author">Salman</strong>
                                        <span class="inbox-item-date">-13:40 PM</span>
                                        <p class="inbox-item-text">Hey! there I'm available...</p>
                                        <span class="profile-status available pull-right"></span>
                                    </div>
                                </a>
                                <a href="#">
                                    <div class="inbox-item">
                                        <div class="inbox-item-img"><img src="/static/assets/dist/img/avatar.png" class="img-circle" alt=""></div>
                                        <strong class="inbox-item-author">Taman</strong>
                                        <span class="inbox-item-date">-13:40 PM</span>
                                        <p class="inbox-item-text">Hey! there I'm available...</p>
                                        <span class="profile-status available pull-right"></span>
                                    </div>
                                </a>
                                <a href="#">
                                    <div class="inbox-item">
                                        <div class="inbox-item-img"><img src="/static/assets/dist/img/avatar4.png" class="img-circle" alt=""></div>
                                        <strong class="inbox-item-author">Jhon</strong>
                                        <span class="inbox-item-date">-13:40 PM</span>
                                        <p class="inbox-item-text">Hey! there I'm available...</p>
                                        <span class="profile-status offline pull-right"></span>
                                    </div>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>


            <div class="control-sidebar-bg"></div>
            <div id="page-wrapper">
                <div class="content">
                    <div class="content-header">
                        <div class="header-icon"><i class="pe-7s-back-2"></i></div>
                        <div class="header-title">
                            <h1>Events In Hotel</h1>
                            <small>Let's Gather & Make Event Full On Fun </small>
                            <ol class="breadcrumb">
                                <li><a href="{% static '/index' %}"><i class="pe-7s-home"></i> Home</a></li>
                                <li><a href="#">Events</a></li>
                                <li class="active">Calender</li>
                            </ol>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12 col-md-3">
                            <div class="panel panel-bd">
                                <div class="panel-body">
                                    <div id='external-events'>
                                        <h4>Events on special Day</h4>
                                        <div class='fc-event'> <input type='checkbox' id='drop-remove' />SS Thaman Musical Event</div>
                                        <div class='fc-event'> <input type='checkbox' id='drop-remove' />jadugar Anandh magic show </div>
                                        <div class='fc-event'> <input type='checkbox' id='drop-remove' />Dance Concert</div>
                                        <div class='fc-event'> <input type='checkbox' id='drop-remove' />Rock Star DSP Concert</div>
                                        <div class='fc-event'> <input type='checkbox' id='drop-remove' />BTS</div>
                                        <div class='fc-event'> <input type='checkbox' id='drop-remove' />Ilayaraja consert</div>

                                        <button class="btn btn-primary dropdown-toggle" style="border-radius: 20px 20px 20px 20px;
                                        background-color: #286090;border-color: #204d74;">
                                            <a href= '/finalpaypanel'  style="color: white;">Book A Hall</a></button>
                                    </div>
                                </div>
                            </div>
                            
                        </div>
                    </div>
            
                        <div class="col-3">
                                    <div id='external-events'>
                            <h3 style="padding-left:5%;background-color:blue;color:white;text-align: center;" >Events In Hotel</h3>
                            <marquee width="60%" direction="up" height="300px">
                            <ul type="&#xf0f3">
                                <li style="padding:1%; font-size:20px;"><a href="{% static 'https://events.sulekha.com/ss-thaman_tickets_artist_110' %}">SS Thaman Musical consert</a></li>
                                <li style="padding:1%; font-size:20px;"><a href="{% static 'https://events.sulekha.com/devi-sri-prasad_tickets_artist_25' %}">DSP Musical consert</a></li>
                                <li style="padding:1%; font-size:20px;"><a href="{% static 'https://www.jadugaranand.com/' %}" >jdugar Anandh Magic show</a> </li>
                                <li style="padding:1%; font-size:20px;"><a href="{% static 'https://www.stubhub.com/dance-and-electronic-music-tickets/category/195489/' %}">Dance Consert</a></li>
                                <li style="padding:1%; font-size:20px;"><a href="{% static 'https://urbanaffairskerala.org/bts-world-tour/' %}">BTS</a></li>
                                
                                <li style="padding:1%; font-size:20px;"><a href="{% static 'https://www.myfirstevent.com/ilaiyaraaja-live-concert/' %}">Ilayarja concert</a></li>
                            </ul>
                            </marquee>
                        </div></div></div><br>
                        
                        <div class="row">
                            <div class="col-sm-6">
                                <div class="panel panel-bd">
                                    <div class="panel-body">
                                        <!-- Start carousel -->
                                        <div id="demo11" class="carousel slide" data-ride="carousel">
                                            <!-- Indicators -->
                                            <ol class="carousel-indicators">
                                                <li data-target="#demo11" data-slide-to="0" class="active"></li>
                                                <li data-target="#demo11" data-slide-to="1"></li>
                                                <li data-target="#demo11" data-slide-to="2"></li>
                                            </ol>
                                            <!-- Wrapper for slides -->
                                            <div class="carousel-inner" role="listbox">
                                                <div class="item active">
                                                    <img src="{% static 'assets/dist/img/carousel-25.jpg' %}" alt="...">
                                                    <div class="carousel-caption">
                                                        <h3 class="text-white"></h3>
                                                        <p class="text-white"> </p>
                                                    </div>
                                                </div>
                                                <div class="item">
                                                    <img src="{% static 'assets/dist/img/carousel-26.jpg' %}" alt="...">
                                                    <div class="carousel-caption">
                                                        <h3 class="text-white"></h3>
                                                        <p class="text-white"></p>
                                                    </div>
                                                </div>
                                                <div class="item">
                                                    <img src="{% static 'assets/dist/img/carousel-27.jpg' %}" alt="...">
                                                    <div class="carousel-caption">
                                                        <div class="carousel-caption">
                                                            <h3 class="text-white"></h3>
                                                            <p class="text-white"></p>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <!-- Controls -->
                                            <a class="left carousel-control" href="{% static '#demo11' %}" role="button" data-slide="prev">
                                                <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
                                                <span class="sr-only">Previous</span>
                                            </a>
                                            <a class="right carousel-control" href="{% static '#demo11' %}" role="button" data-slide="next">
                                                <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
                                                <span class="sr-only">Next</span>
                                            </a>
                                        </div>  <!-- End carousel -->
                                    </div>
                                </div>
                            </div>
                      
    
                            <div class="col-sm-6">
                                <div class="panel panel-bd">
                                    <div class="panel-body">
                                        <!-- Start carousel -->
                                        <div id="demo12" class="carousel slide" data-ride="carousel">
                                            <!-- Indicators -->
                                            <ol class="carousel-indicators">
                                                <li data-target="#demo12" data-slide-to="0" class="active"></li>
                                                <li data-target="#demo12" data-slide-to="1"></li>
                                                <li data-target="#demo12" data-slide-to="2"></li>
                                            </ol>
                                            <!-- Wrapper for slides -->
                                            <div class="carousel-inner" role="listbox">
                                                <div class="item active">
                                                    <img src="{% static 'assets/dist/img/carousel-28.jpg' %}" alt="...">
                                                    <div class="carousel-caption">
                                                        <h3 class="text-white"></h3>
                                                        <p class="text-white"></p>
                                                    </div>
                                                </div>
                                                <div class="item">
                                                    <img src="{% static 'assets/dist/img/carousel-29.jpg' %}" alt="...">
                                                    <div class="carousel-caption">
                                                        <h3 class="text-white"></h3>
                                                        <p class="text-white"></p>
                                                    </div>
                                                </div>
                                                <div class="item">
                                                    <img src="{% static 'assets/dist/img/carousel-30.jpeg' %}" alt="...">
                                                    <div class="carousel-caption">
                                                        <div class="carousel-caption">
                                                            <h3 class="text-white"></h3>
                                                            <p class="text-white"></p>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <a class="left carousel-control" href="{% static '#demo12' %}" role="button" data-slide="prev">
                                                <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
                                                <span class="sr-only">Previous</span>
                                            </a>
                                            <a class="right carousel-control" href="{% static '#demo12' %}" role="button" data-slide="next">
                                                <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
                                                <span class="sr-only">Next</span>
                                            </a>
                                        </div>
                                        </div>
                                        </div>
                                        </div></div></div>
                        

                </div> 
            </div>
        </div>
        
        <script data-cfasync="false" src="/static/../../../cdn-cgi/scripts/5c5dd728/cloudflare-static/email-decode.min.js"></script>
        <script src="/static/assets/plugins/jQuery/jquery-1.12.4.min.js" type="text/javascript"></script>
        <script src="/static/assets/plugins/jquery-ui-1.12.1/jquery-ui.min.js" type="text/javascript"></script>
        <script src="/static/assets/bootstrap/js/bootstrap.min.js" type="text/javascript"></script>
        <script src="/static/assets/plugins/metisMenu/metisMenu.min.js" type="text/javascript"></script>
        <script src="/static/assets/plugins/lobipanel/lobipanel.min.js" type="text/javascript"></script>
        <script src="/static/assets/plugins/animsition/js/animsition.min.js" type="text/javascript"></script>
        <script src="/static/assets/plugins/fastclick/fastclick.min.js" type="text/javascript"></script>
        <script src="/static/assets/plugins/slimScroll/jquery.slimscroll.min.js" type="text/javascript"></script>
       
        <script src="/static/assets/plugins/sparkline/sparkline.min.js" type="text/javascript"></script>
        <script src="/static/assets/plugins/chartJs/Chart.min.js" type="text/javascript"></script>
        <script src="/static/assets/plugins/counterup/waypoints.js" type="text/javascript"></script>
        <script src="/static/assets/plugins/counterup/jquery.counterup.min.js" type="text/javascript"></script>
        <script src="/static/assets/plugins/monthly/monthly.js" type="text/javascript"></script>
       
        <script src="/static/assets/dist/js/app.min.js" type="text/javascript"></script>
        <script src="/static/assets/dist/js/jQuery.style.switcher.min.js" type="text/javascript"></script>
    </body>


</html>