{% load static %}
<html lang=en>
<head>
        <meta charset=utf-8>
        <meta http-equiv=X-UA-Compatible content="IE=edge">
        <meta name=viewport content="width=device-width, initial-scale=1">
        <meta name=description content="">
        <meta name=author content="">
        <title>Payment</title>
        <link rel="shortcut icon" href="/static/assets/dist/img/Hotel-logo.jpg" type="logo">
        <script src="/static/../../../../ajax.googleapis.com/ajax/libs/webfont/1.6.26/webfont.js"></script>
        <script>
            WebFont.load({
                google: {
                    families: ['Alegreya+Sans:100,100i,300,300i,400,400i,500,500i,700,700i,800,800i,900,900i', 'Raleway:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i', 'Open Sans']
                }
            });
        </script>
        
        <link href="/static/assets/dist/css/base.css" rel=stylesheet type="text/css"/>
        <link href="/static/https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        <link href="/static/assets/plugins/emojionearea/emojionearea.min.css" rel=stylesheet type="text/css"/>
        <link href="/static/assets/plugins/monthly/monthly.min.css" rel=stylesheet type="text/css"/>
        <link href="/static/assets/plugins/amcharts/export.css" rel=stylesheet type="text/css"/>
        <link href="/static/assets/dist/css/component_ui.min.css" rel=stylesheet type="text/css"/>
        <link id=defaultTheme href="/static/assets/dist/css/skins/skin-dark-1.min.css" rel=stylesheet type="text/css"/>
        <link href="/static/assets/dist/css/custom.css" rel="stylesheet" type="text/css"/>
        <script src="\static\jquery-3.6.4.min.js"></script> 
        
    </head>
    <body>
        <div id=wrapper class="wrapper animsition">
          
            <nav class="navbar navbar-fixed-top">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="sr-only">Toggle navigation</span>
                        <i class="material-icons">apps</i>
                    </button>
                    <a class="navbar-brand" href="/index">
                        <p>SDS HOTEL</p>                
                    </a>
                </div>
                <div class="nav-container">
                    <ul class="nav navbar-nav hidden-xs">
                        <li><a id="menu-toggle" href="#"><i class="material-icons">apps</i></a></li>
                        <li><a href="/payments" target="_blank" class="btn-buy hidden-xs hidden-sm hidden-md">Book Now</a></li>
                    </ul>
                    <ul class="nav navbar-top-links navbar-right">
                        <li class="dropdown">
                            <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                                <i class="material-icons">chat</i>
                                <span class="label label-danger"></span>
                            </a>
                            <ul class="dropdown-menu dropdown-messages">
                                <li class="rad-dropmenu-header"><a href="#">New Messages</a></li>
                                <li>
                                    <a href="#" class="rad-content">
                                        <div class="inbox-item">
                                            <div class="inbox-item-img"><img src="/static/assets/dist/img/abbas.jpeg" class="img-circle" alt=""></div>
                                            <strong class="inbox-item-author">Durga Prasad</strong>
                                            <span class="inbox-item-date">-13:40 PM</span>
                                            <p class="inbox-item-text">Hey! there I'm available...</p>
                                            <span class="profile-status available pull-right"></span>
                                        </div>
                                    </a>
                                </li>
                                <li>
                                    <a href="#" class="rad-content">
                                        <div class="inbox-item">
                                            <div class="inbox-item-img"><img src="/static/assets/dist/img/avatar5.png" class="img-circle" alt=""></div>
                                            <strong class="inbox-item-author">Sahith</strong>
                                            <span class="inbox-item-date">-13:40 PM</span>
                                            <p class="inbox-item-text">Hey! there I'm available...</p>
                                            <span class="profile-status away pull-right"></span>
                                        </div>
                                    </a>
                                </li>
                                <li>
                                    <a href="#" class="rad-content">
                                        <div class="inbox-item">
                                            <div class="inbox-item-img"><img src="/static/assets/dist/img/avatar.png' %}" class="img-circle" alt=""></div>
                                            <strong class="inbox-item-author">Sai Kumar</strong>
                                            <span class="inbox-item-date">-13:40 PM</span>
                                            <p class="inbox-item-text">Hey! there I'm available...</p>
                                            <span class="profile-status busy pull-right"></span>
                                        </div>
                                    </a>
                                </li>
                                <li>
                                    <a href="#" class="rad-content">
                                        <div class="inbox-item">
                                            <div class="inbox-item-img"><img src="/static/assets/dist/img/avatar4.png' %}" class="img-circle" alt=""></div>
                                            <strong class="inbox-item-author">Taman</strong>
                                            <span class="inbox-item-date">-13:40 PM</span>
                                            <p class="inbox-item-text">Hey! there I'm available...</p>
                                            <span class="profile-status offline pull-right"></span>
                                        </div>
                                    </a>
                                </li>
                                <li class="rad-dropmenu-footer"><a href="#">View All messages</a></li>
                            </ul> 
                        </li>
                        
                        </li>
                        
                        
                        <li class="dropdown">
                            <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                                <i class="material-icons">person_add</i>
                            </a>
                            <ul class="dropdown-menu dropdown-user">
                                <li><a href="/customerprofile"><i class="ti-user"></i>&nbsp; Profile</a></li>
                                <li><a href="/AdminLoginPage"><i class="ti-lock"></i>&nbsp; Lock Screen</a></li>
                                <li><a href="/AdminLoginPage"><i class="ti-layout-sidebar-left"></i>&nbsp; Logout</a></li>
                            </ul>
                        </li>
                        <li class="log_out">
                            <a href="/AdminLoginPage">
                                <i class="material-icons">power_settings_new</i>
                            </a>
                        </li>
                    </ul> 
                </div>
            </nav>
            <div class="sidebar" role="navigation">
                <div class="sidebar-nav navbar-collapse">
                    <ul class="nav" id="side-menu">
                        <li class="nav-heading "> <span> Main&nbsp;&nbsp;&nbsp;&nbsp;</span></li>
                        <li>
                            <a href="" class="material-ripple"><i class="material-icons">home</i> Dashboard <span class="fa arrow"></span></a>
                            <ul class="nav nav-second-level">
                               
                                <li><a href="/AboutHotelpanel">About hotel</a></li>
                                <li>
                                    <a href="/Gallerypanel">Gallery</a>
                                    
                                </li>
                                </ul>
                        </li>
                        
                        </li>
                        <li class="nav-heading "> <span>Customer&nbsp;&nbsp;&nbsp;&nbsp;</span></li>
                        <li>
                            <a href="#" class="material-ripple"><i class="material-icons">people</i> Customer Details<span class="fa arrow"></span></a>
                            <ul class="nav nav-second-level">
                                
                                <li><a href="/CustamerRatingpanel">Customer ratings</a></li>
                            </ul>
                        </li>
                       
                    </li>
                </li>
                
                
                        
                <li class="nav-heading "> <span>Rooms&nbsp;&nbsp;&nbsp;&nbsp;</span></li>
                
                <li>
                    <a href="#" class="material-ripple"><i class="material-icons">hotel</i> Book a Rooms<span class="fa arrow"></span></a>
                    <ul class="nav nav-second-level">
                        <li><a href="/Mappanel">Locations of Hotel</a></li>
                    
                        <li><a href="/Room1panel">Rooms</a></li>
                        <li><a href="/Pricingpanel">Pricing Of Every Room</a></li>
                        <li><a href="/Partypanel">Parties & Function Halls</a></li>
                    </ul>
                </li>
                <li>
                    <a href="/Eventspanel" class="material-ripple"><i class="material-icons">local_offer</i> Events On Special Day's<span class="fa arrow"></span></a>
                    
                       
                </li>
                <li class="nav-heading "> <span>Payments&nbsp;&nbsp;&nbsp;&nbsp;</span></li>
               <li> <a href="#" class="material-ripple"><i class="material-icons">credit_card</i>Payments<span class="fa arrow"></span></a>
                    <ul class="nav nav-second-level">
                        <li><a href="/Paymentspanel">Payment</a></li>
                       
                    </ul>
                    </li>

                    <li class="nav-heading "><span>Others&nbsp;&nbsp;&nbsp;&nbsp;</span></li>
                    <li>
                        <a href="#" class="material-ripple"><i class="material-icons">store_mall_directory</i>Other Services<span class="fa arrow"></span></a>
                        <ul class="nav nav-second-level">
                            <li><a href="/Cabpanel">Cab Services</a></li> 
                            <li><a href="/Restarentpanel">Restaruent</a></li>
                            <li><a href="/Respaypanel">Payment</a></li>
                            <li><a href="/Barpanel">Bar</a></li>
                            <li><a href="/Spapanel">Spa</a></li>

                        </ul>
                    </li>
                        <li class="nav-heading "> <span>Contact Details&nbsp;&nbsp;&nbsp;&nbsp;</span></li>
                        <li>
                            <a href="#" class="material-ripple"><i class="material-icons">phone_in_talk</i> Contact Us<span class="fa arrow"></span></a>
                            <ul class="nav nav-second-level">
                                <li> <a href="/Contactpanel">Contact </a></li>
                            </ul>
                        </li>
                    </ul>
                </div>
                
            </div>
            
            <div class="side-bar right-bar">
                <div class="">
                  
                    <ul class="nav nav-tabs right-sidebar-tabs" role="tablist">
                    <li role="presentation" class="active"><a href="/static/#home" aria-controls="home" role="tab" data-toggle="tab"><i class="material-icons">home</i></a></li>
                    <li role="presentation"><a href="/static/#profile" aria-controls="profile" role="tab" data-toggle="tab"><i class="material-icons">person_add</i></a></li>
                    <li role="presentation"><a href="/static/#messages" aria-controls="messages" role="tab" data-toggle="tab"><i class="material-icons">chat</i></a></li>
                    </ul>
                   
                    <div class="tab-content">
                        <div role="tabpanel" class="tab-pane fade  in active" id="home">
                            <ul id="styleOptions" title="switch styling">
                                <li><b>Dark Skin</b></li>
                                <li><a href="/static/javascript: void(0)" data-theme="skin-blue.min"><img src="/static/assets/dist/img/theme-color/1.jpg" alt=""/></a></li>
                                <li><a href="/static/javascript: void(0)" data-theme="skin-dark.min"><img src="/static/assets/dist/img/theme-color/2.jpg" alt=""/></a></li>
                                <li><a href="/static/javascript: void(0)" data-theme="skin-red-light.min" class="skin-logo"><img src="/static/assets/dist/img/theme-color/5.jpg" alt=""/></a></li>
                                <li><b>Dark Skin sidebar</b></li>
                                <li><a href="/static/javascript: void(0)" data-theme="skin-default.min"><img src="/static/assets/dist/img/theme-color/7.jpg" alt=""/> </a></li>
                                <li><a href="/static/javascript: void(0)" data-theme="skin-red-dark.min"><img src="/static/assets/dist/img/theme-color/6.jpg" alt=""/></a></li>
                                <li><a href="/static/javascript: void(0)" data-theme="skin-dark-1.min"><img src="/static/assets/dist/img/theme-color/8.jpg" alt=""/></a></li>
                                <li><b>Light Skin sidebar</b></li>
                                <li><a href="/static/javascript: void(0)" data-theme="skin-default-light.min" class="skin-logo"><img src="/static/assets/dist/img/theme-color/3.jpg" alt=""/></a></li>
                                <li><a href="/static/javascript: void(0)" data-theme="skin-white.min"><img src="/static/assets/dist/img/theme-color/4.jpg" alt=""/></a> </li>
                            </ul>
                        </div>
                        <div role="tabpanel" class="tab-pane fade " id="profile">
                            <h3 class="sidebar-heading">Activity</h3>
                            <div class="rad-activity-body">
                                <div class="rad-list-group group">
                                    <a href="#" class="rad-list-group-item">
                                        <div class="rad-list-icon bg-red pull-left"><i class="fa fa-phone"></i></div>
                                        <div class="rad-list-content"><strong>Client meeting</strong>
                                            <div class="md-text">Meeting at 10:00 AM</div>
                                        </div>
                                    </a>
                                    <a href="#" class="rad-list-group-item">
                                        <div class="rad-list-icon bg-yellow pull-left"><i class="fa fa-refresh"></i></div>
                                        <div class="rad-list-content"><strong>Created ticket</strong>
                                            <div class="md-text">Ticket assigned to Dev team</div>
                                        </div>
                                    </a>
                                    <a href="#" class="rad-list-group-item">
                                        <div class="rad-list-icon bg-primary pull-left"><i class="fa fa-check"></i></div>
                                        <div class="rad-list-content"><strong>Activity completed</strong>
                                            <div class="md-text">Completed the dashboard html</div>
                                        </div>
                                    </a>
                                    <a href="#" class="rad-list-group-item">
                                        <div class="rad-list-icon bg-green pull-left"><i class="fa fa-envelope"></i></div>
                                        <div class="rad-list-content"><strong>New Invitation</strong>
                                            <div class="md-text">Max has invited you to join Inbox</div>
                                        </div>
                                    </a>
                                </div>
                            </div>
                    
                            
                            <h3 class="sidebar-heading">Tasks Progress</h3>
                            <ul class="sidebar-menu">
                                <li>
                                    <a href="#">
                                        <h4 class="subheading">
                                            Task one
                                            <span class="label label-danger pull-right">40%</span>
                                        </h4>
                                        <div class="progress">
                                            <div class="progress-bar progress-bar-danger progress-bar-striped active" style="width: 40%"></div>
                                        </div>
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <h4 class="subheading">
                                            Task two
                                            <span class="label label-success pull-right">20%</span>
                                        </h4>
                                        <div class="progress">
                                            <div class="progress-bar progress-bar-success progress-bar-striped active" style="width: 20%"></div>
                                        </div>
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <h4 class="subheading">
                                            Task Three
                                            <span class="label label-warning pull-right">60%</span>
                                        </h4>
                                        <div class="progress">
                                            <div class="progress-bar progress-bar-warning progress-bar-striped active" style="width: 60%"></div>
                                        </div>
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <h4 class="subheading">
                                            Task four
                                            <span class="label label-primary pull-right">80%</span>
                                        </h4>
                                        <div class="progress">
                                            <div class="progress-bar progress-bar-primary progress-bar-striped active" style="width: 80%"></div>
                                        </div>
                                    </a>
                                </li>
                            </ul>
                           
                        </div>
                        <div role="tabpanel" class="tab-pane fade " id="messages">
                            <div class="message_widgets">
                                <a href="#">
                                    <div class="inbox-item">
                                        <div class="inbox-item-img"><img src="/static/assets/dist/img/abbas.jpeg" class="img-circle" alt=""></div>
                                        <strong class="inbox-item-author">Durga Prasad</strong>
                                        <span class="inbox-item-date">-13:40 PM</span>
                                        <p class="inbox-item-text">Hey! there I'm available...</p>
                                        <span class="profile-status available pull-right"></span>
                                    </div>
                                </a>
                                <a href="#">
                                    <div class="inbox-item">
                                        <div class="inbox-item-img"><img src="/static/assets/dist/img/avatar2.png" class="img-circle" alt=""></div>
                                        <strong class="inbox-item-author">Sahith</strong>
                                        <span class="inbox-item-date">-13:40 PM</span>
                                        <p class="inbox-item-text">Hey! there I'm available...</p>
                                        <span class="profile-status away pull-right"></span>
                                    </div>
                                </a>
                                <a href="#">
                                    <div class="inbox-item">
                                        <div class="inbox-item-img"><img src="/static/assets/dist/img/avatar3.png" class="img-circle" alt=""></div>
                                        <strong class="inbox-item-author">Sai Kumar</strong>
                                        <span class="inbox-item-date">-13:40 PM</span>
                                        <p class="inbox-item-text">Hey! there I'm available...</p>
                                        <span class="profile-status busy pull-right"></span>
                                    </div>
                                </a>
                                <a href="#">
                                    <div class="inbox-item">
                                        <div class="inbox-item-img"><img src="/static/assets/dist/img/avatar4.png" class="img-circle" alt=""></div>
                                        <strong class="inbox-item-author">Kalyan</strong>
                                        <span class="inbox-item-date">-13:40 PM</span>
                                        <p class="inbox-item-text">Hey! there I'm available...</p>
                                        <span class="profile-status offline pull-right"></span>
                                    </div>
                                </a>
                                <a href="#">
                                    <div class="inbox-item">
                                        <div class="inbox-item-img"><img src="/static/assets/dist/img/avatar5.png" class="img-circle" alt=""></div>
                                        <strong class="inbox-item-author">Amir</strong>
                                        <span class="inbox-item-date">-13:40 PM</span>
                                        <p class="inbox-item-text">Hey! there I'm available...</p>
                                        <span class="profile-status available pull-right"></span>
                                    </div>
                                </a>
                                <a href="#">
                                    <div class="inbox-item">
                                        <div class="inbox-item-img"><img src="/static/assets/dist/img/avatar.png" class="img-circle" alt=""></div>
                                        <strong class="inbox-item-author">Salman</strong>
                                        <span class="inbox-item-date">-13:40 PM</span>
                                        <p class="inbox-item-text">Hey! there I'm available...</p>
                                        <span class="profile-status available pull-right"></span>
                                    </div>
                                </a>
                                <a href="#">
                                    <div class="inbox-item">
                                        <div class="inbox-item-img"><img src="/static/assets/dist/img/avatar.png" class="img-circle" alt=""></div>
                                        <strong class="inbox-item-author">Taman</strong>
                                        <span class="inbox-item-date">-13:40 PM</span>
                                        <p class="inbox-item-text">Hey! there I'm available...</p>
                                        <span class="profile-status available pull-right"></span>
                                    </div>
                                </a>
                                <a href="#">
                                    <div class="inbox-item">
                                        <div class="inbox-item-img"><img src="/static/assets/dist/img/avatar4.png" class="img-circle" alt=""></div>
                                        <strong class="inbox-item-author">Jhon</strong>
                                        <span class="inbox-item-date">-13:40 PM</span>
                                        <p class="inbox-item-text">Hey! there I'm available...</p>
                                        <span class="profile-status offline pull-right"></span>
                                    </div>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- /.Right Sidebar -->
            <!-- /.Navbar  Static Side -->
            <div class="control-sidebar-bg"></div>
            <!-- Page Content -->
            <div id="page-wrapper">
                <!-- main content -->
                <div class="content">
                    <!-- Content Header (Page header) -->
                    <div class="content-header">
                        <div class="header-icon"><i class="pe-7s-credit
                            "></i></div>
                        <div class="header-title">
                            <h1>Payments</h1>
                            <small>start payments from here</small>
                            <!--ol class="breadcrumb">
                                <li><a href="index.html">This is</a></li>
                                <li class="active">Breadcrumb</li>
                            </ol-->
                        </div>
                    </div> <!-- /. Content Header (Page header) -->
                    <div class="row">
                        <div class="col-sm-12 col-md-12">
                            <div class="panel panel-bd lobidrag">
                                <div class="panel-heading">
                                    <div class="panel-title">
                                        <h4>Rooms Booking & Payments</h4>
                                    </div>
                                </div>
                                <div class="panel-body">
                                    <!--p>You can create here any grid layout you want. And any variation layout you imagine:) Check out main dashboard and other site. It use many different layout. </p-->
                                    <div class="container-fluid">
                                    <div class="col-sm-2">
                                        Name<span style="color:red">*</span>
                                    </div>
                                    <div class="col-md-4">
                                        <form>
                                            <input type="text" placeholder="First Name" name="fname" id="fname" class="form-control">
                                            
                                        </div>
                                        <div class="col-md-3">
                                            <input type="text" placeholder="Last Name" name="fname"id="lname" class="form-control">
                                        </div>
                                        </form>
                                    </div>
                                    <br><br>
                                
                                <div class="container-fluid">
                                    <div class="col-sm-2">
                                        E-mail<span style="color:red">*</span>
                                    </div>
                                    <div class="col-md-4">
                                        <form>
                                            <input type="email" placeholder="ex:myname@example.com" name="fname" id="email" class="form-control">
                                        </div>
                                        
                                        </form>
                                    </div>
                                    <br><br>
                                    <div class="container-fluid">
                                        <div class="col-sm-2">
                                            Room Type<span style="color:red"></span>
                                        </div>
                                        <div class="col-md-4">
                                            <div class="dropdown">
                                                <div class="form-group">
                                                    <select class="form-control" id="Roomtype" name="sellist1">
                                                        <option value="">Select Rooms</option>
                                                        <option value="Standard Room(1-2 People)">Standard Room(1-2 People)</option>
                                                        <option value="Family Room(1-4 people)">Family Room(1-4 people)</option>
                                                        <option value="Private Room(1-3 People)">Private Room(1-3 People)</option>
                                                        <option value="Mix Dorm Room(6 People)">Mix Dorm Room(6 People)</option>
                                                        <option value="Female Dorm Room(6 People)">Female Dorm Room(6 People)</option>
                                                        <option value="Male Dorm Room(1-2 People)">Male Dorm Room(1-2 People)</option>
                                                    </select>
                                                </div>
                                            </div>
                                            </div></div><br><br><br>
                                            <div class="row">
                                                <div class="container-fluid">
                                                <div class="col-sm-2">
                                                    Number of Guests<span style="color:red">*</span>
                                                </div>
                                                <div class="col-md-4">
                                                    <form>
                                                        <input type="number" placeholder="" name="fname" id="Guests" class="form-control">
                                                    </div>
                                                    </form>
                                                    </div>
                                                    </div><br><br><br>
                                    <div class="row">
                                    <div class="container-fluid">
                                    <div class="col-sm-2">
                                    Arrival Date & Time<span style="color:red">*</span>
                                    </div>
                                    <div class="col-md-4">
                                    <form>
                                    <input type="datetime-local" placeholder="" name="fname" id="Arrivaldate" class="form-control"><br>
                                    </div>                                
                                    </form>
                                    </div>
                                    </div><br><br><br>
                                    <div class="row">
                                    <div class="container-fluid">
                                    <div class="col-sm-2">             
                                    Departure Date & Time<span style="color:red">*</span>
                                    </div>
                                    <div class="col-md-4">
                                    <form>
                                    <input type="datetime-local" placeholder="" name="fname" id="Departuredate" class="form-control"><br>
                                    </div>                                                                    
                                    </form>
                                    </div>
                                    </div><br><br><br>
                                    <div class="row">
                                        <div class="container-fluid">
                                        <div class="col-sm-2">
                                            Free Pickup?<span style="color:red">*</span>
                                        </div>
                                        <div class="col-md-4">
                                            <div class="form-check">
                                                <input type="radio" name="gender" value="" class="from-check-input">
                                                <label class="form-check-label">Yes Please!-Pick me up on arrival</label>
                                            </div>
                                            <div class="form-check">
                                                <input type="radio" name="gender" value="" class="from-check-input">
                                                <label class="form-check-label">No Thanks- I'll make my own way there</label>
                                            </div>
                                            </div>
                                            
                                            
                                            </div>
                                            </div><br><br><br>

                                            <div class="row">
                                                <div class="container-fluid">
                                                <div class="col-sm-2">
                                                   
                                                    Flight Number<span style="color:red"></span>
                                                </div>
                                                <div class="container-fluid">
                                                    <div class="col-sm-4">
                                                       
                                                        <form>
                                                            <input type="number" placeholder="" name="fname" id="Flightnumber" class="form-control">
                                                    </div>
                                                    </div>
                                                    </div>
                                                    </div><br><br><br>

                                                    <div class="row">
                                                        <div class="container-fluid">
                                                        <div class="col-sm-2">
                                                           
                                                            Special Requests<span style="color:red"></span>
                                                        </div>
                                                        
                                                            <div class="col-sm-5">
                                                                <form>
                                                                    <input id="Requests" class="form-control">
                                                                </div>
                                                                
                                                                </form>

                                                                    
                                                            
                                                            </div>
                                                            </div>
                                                            </div><br><br><br>

                                                            <div class="row">
                                                                <div class="container-fluid">
                                                                <div class="col-sm-2">
                                                                   
                                                                    Book a Room<span style="color:red">*</span>
                                                                </div>
                                                                <div class="col-md-4">
                                                                    <div class="form-check">
                                                                        <input type="checkbox" name="gender" value="" class="from-check-input">
                                                                        <label class="form-check-label">Big Room 8999/-</label>
                                                                    </div>
                                                                    <div class="form-check">
                                                                        <input type="checkbox" name="gender" value="" class="from-check-input">
                                                                        <label class="form-check-label">Very Big Room 9999/-</label>
                                                                    </div>
                                                                    <div class="form-check">
                                                                        <input type="checkbox" name="gender" value="" class="from-check-input">
                                                                        <label class="form-check-label">King Room 12000/-</label>
                                                                    </div>
                                                                    
                                                                    
                                                                    </div>
                                                                    </div><br>
                                                                    <div class="row">
                                                                        <div class="">
                                                                        <div class="col-sm-2 "></div>
                                                                        <div class="col-sm-3 ">
                                                                            <div align="center">
                                                                                <button class="btn btn-success" style="background-color:rgb(12, 10, 117);" id="submit" type="submit">
                                                                                    <a href="/finalpay" style="color: azure;" >Paynow</a>
                                                                                    
                                                                                </button>
                                                                                <img src="/static/assets/dist/img/credit/AM_mc_vs_ms_ae_UK.png" class="img-responsive" alt="">
                                                                            </div></div></div></div></div><br><br>
                                                                                    

                                
                                <div class="panel-footer" style="text-align: center;">
                                    Thanks For Visiting Our Hotel ..Have a Great Day
                                </div>
                            </div>
                        </div>
                    </div>
                </div> <!-- /.main content -->
            </div><!-- /#page-wrapper -->
        </div><!-- /#wrapper -->
        <!-- START CORE PLUGINS -->
        <script data-cfasync="false" src="/static/../../../cdn-cgi/scripts/5c5dd728/cloudflare-static/email-decode.min.js"></script>
        <script src="/static/assets/plugins/jQuery/jquery-1.12.4.min.js" type="text/javascript"></script>
        <script src="/static/assets/plugins/jquery-ui-1.12.1/jquery-ui.min.js" type="text/javascript"></script>
        <script src="/static/assets/bootstrap/js/bootstrap.min.js" type="text/javascript"></script>
        <script src="/static/assets/plugins/metisMenu/metisMenu.min.js" type="text/javascript"></script>
        <script src="/static/assets/plugins/lobipanel/lobipanel.min.js" type="text/javascript"></script>
        <script src="/static/assets/plugins/animsition/js/animsition.min.js" type="text/javascript"></script>
        <script src="/static/assets/plugins/fastclick/fastclick.min.js" type="text/javascript"></script>
        <script src="/static/assets/plugins/slimScroll/jquery.slimscroll.min.js" type="text/javascript"></script>
       
        <script src="/static/assets/plugins/sparkline/sparkline.min.js" type="text/javascript"></script>
        <script src="/static/assets/plugins/chartJs/Chart.min.js" type="text/javascript"></script>
        <script src="/static/assets/plugins/counterup/waypoints.js" type="text/javascript"></script>
        <script src="/static/assets/plugins/counterup/jquery.counterup.min.js" type="text/javascript"></script>
        <script src="/static/assets/plugins/monthly/monthly.js" type="text/javascript"></script>
       
        <script src="/static/assets/dist/js/app.min.js" type="text/javascript"></script>
        <script src="/static/assets/dist/js/jQuery.style.switcher.min.js" type="text/javascript"></script>

        <script>
            $("#submit").click(function(){
        
                $(".error").hide();
                var fname=$("#fname").val();
                var lname=$("#lname").val();
                var email=$("#email").val();
                var Roomtype=$("#Roomtype").val();
                var Guests=$("#Guests").val();
                var Arrivaldate=$("#Arrivaldate").val();
                var Departuredate=$("#Departuredate").val();
                var Flightnumber=$("#Flightnumber").val();
                var Requests=$("#Requests").val();
                var error=false
                if(fname==""){
                    $("#fname").after('<span class="" style="color:red">Enter your Firstname</span>');
                    error=true;
                }
                if(lname==""){
                    $("#lname").after('<span class="" style="color:red">Enter your Lastname</span>');
                    error=true;
                }
                if(email==""){
                    $("#email").after('<span class="" style="color:red">Enter your email</span>');
                    error=true;
                }
                if(Roomtype==""){
                    $("#Roomtype").after('<span class="" style="color:red">Enter your Roomtype</span>');
                    error=true;
                }
                if(Guests==""){
                    $("#Guests").after('<span class="" style="color:red">Enter Number of Guests</span>');
                    error=true;
                }
                if(Arrivaldate==""){
                    $("#Arrivaldate").after('<span class="" style="color:red">Enter your Arrivaldate</span>');
                    error=true;
                }
                if(Departuredate==""){
                    $("#Departuredate").after('<span class="" style="color:red">Enter your Departuredate</span>');
                    error=true;
                }
                if(Flightnumber==""){
                    $("#Flightnumber").after('<span class="" style="color:red">Enter your Number</span>');
                    error=true;
                }
                if(Requests==""){
                    $("#Requests").after('<span class="" style="color:red">Enter your Requests</span>');
                    error=true;
                }
                if((error==true)){
                    return false;
                }
            })
        </script>
        
       
    </body>

<!-- Mirrored from thememinister.com/adminpage/theme/adminpage_v2.0/blank.html by HTTrack Website Copier/3.x [XR&CO'2014], Sat, 06 Feb 2021 09:46:41 GMT -->
</html>