{% load static %}
<!DOCTYPE html>
<html lang=en>
    
<head>
        <meta charset=utf-8>
        <meta http-equiv=X-UA-Compatible content="IE=edge">
        <meta name=viewport content="width=device-width, initial-scale=1">
        <meta name=description content="">
        <meta name=author content="">
        <title>Room History</title>
        <link rel="shortcut icon" href="/static/assets/dist/img/Hotel-logo.jpg" type="logo">
        <script src="/static/../../../../ajax.googleapis.com/ajax/libs/webfont/1.6.26/webfont.js"></script>
        <script>
            WebFont.load({
                google: {
                    families: ['Alegreya+Sans:100,100i,300,300i,400,400i,500,500i,700,700i,800,800i,900,900i', 'Raleway:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i', 'Open Sans']
                }
            });
        </script>
        
        <link href="/static/assets/dist/css/base.css" rel=stylesheet type="text/css"/>
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        <link href="/static/assets/plugins/emojionearea/emojionearea.min.css" rel=stylesheet type="text/css"/>
        <link href="/static/assets/plugins/monthly/monthly.min.css" rel=stylesheet type="text/css"/>
        <link href="/static/assets/plugins/amcharts/export.css" rel=stylesheet type="text/css"/>
        <link href="/static/assets/dist/css/component_ui.min.css" rel=stylesheet type="text/css"/>
        <link id=defaultTheme href="/static/assets/dist/css/skins/skin-dark-1.min.css" rel=stylesheet type="text/css"/>
        <link href="/static/assets/dist/css/custom.css" rel=stylesheet type="text/css"/>
        
    </head>
    <body>
        <div id=wrapper class="wrapper animsition">
            <nav class="navbar navbar-fixed-top">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="sr-only">Toggle navigation</span>
                        <i class="material-icons">apps</i>
                    </button>
                    <a class="navbar-brand" href="/index">
                        <p>SDS HOTEL</p>
                       
                    </a>
                </div>
                <div class="nav-container">
                    <ul class="nav navbar-nav hidden-xs">
                        
                        <li class="hidden-xs"> 
                            <a class="search-trigger" href="#">
                               
                            </a>
                            <div class="fullscreen-search-overlay" id="search-overlay">
                                <a href="#" class="fullscreen-close" id="fullscreen-close-button"><i class="ti-close"></i></a>
                                <div id="fullscreen-search-wrapper">
                                    <form method="get" id="fullscreen-searchform">
                                        <input type="text" value="" placeholder="Type keyword(s) here" id="fullscreen-search-input">
                                        <i class="ti-search fullscreen-search-icon"><input value="" type="submit"></i>
                                    </form>
                                </div>
                            </div>
                        </li>
                        <li><a id="menu-toggle" href="#"><i class="material-icons">apps</i></a></li>
                        
                    
                        <li><a href="/payments" target="_blank" class="btn-buy hidden-xs hidden-sm hidden-md">Book Now</a></li>
                    </ul>
                    <ul class="nav navbar-top-links navbar-right">
                        <li class="dropdown">
                            <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                                <i class="material-icons">chat</i>
                                <span class="label label-danger"></span>
                            </a>
                            <ul class="dropdown-menu dropdown-messages">
                                <li class="rad-dropmenu-header"><a href="#">New Messages</a></li>
                                <li>
                                    <a href="#" class="rad-content">
                                        <div class="inbox-item">
                                            <div class="inbox-item-img"><img src="/static/assets/dist/img/abbas.jpeg" class="img-circle" alt=""></div>
                                            <strong class="inbox-item-author">Durga Prasad</strong>
                                            <span class="inbox-item-date">-13:40 PM</span>
                                            <p class="inbox-item-text">Hey! there I'm available...</p>
                                            <span class="profile-status available pull-right"></span>
                                        </div>
                                    </a>
                                </li>
                                <li>
                                    <a href="#" class="rad-content">
                                        <div class="inbox-item">
                                            <div class="inbox-item-img"><img src="/static/assets/dist/img/avatar5.png" class="img-circle" alt=""></div>
                                            <strong class="inbox-item-author">Sahith</strong>
                                            <span class="inbox-item-date">-13:40 PM</span>
                                            <p class="inbox-item-text">Hey! there I'm available...</p>
                                            <span class="profile-status away pull-right"></span>
                                        </div>
                                    </a>
                                </li>
                                <li>
                                    <a href="#" class="rad-content">
                                        <div class="inbox-item">
                                            <div class="inbox-item-img"><img src="/static/assets/dist/img/avatar.png" class="img-circle" alt=""></div>
                                            <strong class="inbox-item-author">Sai Kumar</strong>
                                            <span class="inbox-item-date">-13:40 PM</span>
                                            <p class="inbox-item-text">Hey! there I'm available...</p>
                                            <span class="profile-status busy pull-right"></span>
                                        </div>
                                    </a>
                                </li>
                                <li>
                                    <a href="#" class="rad-content">
                                        <div class="inbox-item">
                                            <div class="inbox-item-img"><img src="/static/assets/dist/img/avatar4.png" class="img-circle" alt=""></div>
                                            <strong class="inbox-item-author">Taman</strong>
                                            <span class="inbox-item-date">-13:40 PM</span>
                                            <p class="inbox-item-text">Hey! there I'm available...</p>
                                            <span class="profile-status offline pull-right"></span>
                                        </div>
                                    </a>
                                </li>
                                <li class="rad-dropmenu-footer"><a href="#">View All messages</a></li>
                            </ul> 
                        </li>
                        <li class="dropdown">
                            <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                                <i class="material-icons">person_add</i>
                            </a>
                            <ul class="dropdown-menu dropdown-user">
                                <li><a href="/customer profile"><i class="ti-user"></i>&nbsp; Profile</a></li>
                                <li><a href="#"><i class="ti-email"></i>&nbsp; My Messages</a></li>
                                <li><a href="/Admin Login Page"><i class="ti-lock"></i>&nbsp; Lock Screen</a></li>
                                <li><a href="#"><i class="ti-settings"></i>&nbsp; Settings</a></li>
                                <li><a href="/Admin Login Page"><i class="ti-layout-sidebar-left"></i>&nbsp; Logout</a></li>
                            </ul>
                        </li>
                        <li class="log_out">
                            <a href="/Admin Login Page">
                                <i class="material-icons">power_settings_new</i>
                            </a>
                        </li>
                    </ul> 
                </div>
            </nav>
            <div class="sidebar" role="navigation">
                <div class="sidebar-nav navbar-collapse">
                    <ul class="nav" id="side-menu">
                        <li class="nav-heading "> <span> Main&nbsp;&nbsp;&nbsp;&nbsp;</span></li>
                        <li>
                            <a href="/Admin Login Page" class="material-ripple"><i class="material-icons">home</i> Dashboard <span class="fa arrow"></span></a>
                            <ul class="nav nav-second-level">
                                <li><a href="/report">Daily reports</a></li>
                                <li><a href="/index">About hotel</a></li>   
                                <li>
                                    <a href="/Gallery">Gallery</a>
                                    
                                </li>
                                </ul>
                        </li>
                        
                        </li>
                        <li class="nav-heading "> <span>Customer&nbsp;&nbsp;&nbsp;&nbsp;</span></li>
                        <li>
                            <a href="#" class="material-ripple"><i class="material-icons">people</i> Customer Details<span class="fa arrow"></span></a>
                            <ul class="nav nav-second-level">
                                <li><a href="/add customers">Add Customer</a></li>
                                <li><a href="/customer details">View Customer Details</a></li>
                                <li><a href="/customer profile">Customer ratings</a></li>
                            </ul>
                        </li>
                       
                    </li>
                </li>
                <li class="nav-heading "> <span>Employee &nbsp;&nbsp;&nbsp;&nbsp;</span></li>
                <li>
                    <a href="#" class="material-ripple"><i class="material-icons">person_outline</i>Employee details<span class="fa arrow"></span></a>
                    <ul class="nav nav-second-level">
                        <li><a href="/add employee">Add Employee</a></li>
                        <li><a href="/employee list">Employee list</a></li>
                        <li><a href="/leave">Leaves</a></li>
                        <li><a href="/Attendence">Attendence</a></li>
                    </ul>
                </li>
                        
                <li class="nav-heading "> <span>Hotels&nbsp;&nbsp;&nbsp;&nbsp;</span></li>
                
                <li>
                    <a href="#" class="material-ripple"><i class="material-icons">hotel</i> Hotels<span class="fa arrow"></span></a>
                    <ul class="nav nav-second-level">
                        <li><a href="/Map">Locations of Hotel</a></li>
                    
                        <li><a href="/room1">Rooms</a></li>
                        <li><a href="/roomhistory">RoomHistory</a></li>
                        <li><a href="/pricing">Pricing Of Every Room</a></li>
                        <li><a href="/party">Parties & Function Halls</a></li>
                    </ul>
                </li>
                <li>
                    <a href="/events" class="material-ripple"><i class="material-icons">local_offer</i> Events On Special Day's<span class="fa arrow"></span></a>
                    
                       
                </li>
                <li class="nav-heading "> <span>Payments&nbsp;&nbsp;&nbsp;&nbsp;</span></li>
               <li> <a href="#" class="material-ripple"><i class="material-icons">credit_card</i>Payments<span class="fa arrow"></span></a>
                    <ul class="nav nav-second-level">
                        <li><a href="/payments">Payment</a></li>
                        <li><a href="/paymenthistory">Payment History</a></li>
                        <li><a href="/invoice">Invoice</a></li>
                    </ul>
                    </li>

                    <li class="nav-heading "><span>Others&nbsp;&nbsp;&nbsp;&nbsp;</span></li>
                    <li>
                        <a href="#" class="material-ripple"><i class="material-icons">store_mall_directory</i>Other Services<span class="fa arrow"></span></a>
                        <ul class="nav nav-second-level">
                            <li><a href="/Transportation">Cab Services</a></li>
                            <li><a href="/cabhistory">Cab History</a></li>  
                            <li><a href="/RestarantMenu">Restaruent</a></li>
                            <li><a href="/ResPay">Payment</a></li>
                            <li><a href="/Bar">Bar</a></li>
                            <li><a href="/spa">Spa</a></li>

                        </ul>
                    </li>
                        <li class="nav-heading "> <span>Contact Details&nbsp;&nbsp;&nbsp;&nbsp;</span></li>
                        <li>
                            <a href="#" class="material-ripple"><i class="material-icons">phone_in_talk</i> Contact Us<span class="fa arrow"></span></a>
                            <ul class="nav nav-second-level">
                                <li> <a href="/Contact">Contact </a></li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="side-bar right-bar">
                <div class="">
                    <ul class="nav nav-tabs right-sidebar-tabs" role="tablist">
                        <li role="presentation" class="active"><a href="/static/#home" aria-controls="home" role="tab" data-toggle="tab"><i class="material-icons">home</i></a></li>
                        <li role="presentation"><a href="/static/#profile" aria-controls="profile" role="tab" data-toggle="tab"><i class="material-icons">person_add</i></a></li>
                        <li role="presentation"><a href="/static/#messages" aria-controls="messages" role="tab" data-toggle="tab"><i class="material-icons">chat</i></a></li>
                    </ul>
                    <div class="tab-content">
                        <div role="tabpanel" class="tab-pane fade  in active" id="home">
                            <ul id="styleOptions" title="switch styling">
                                <li><b>Dark Skin</b></li>
                                <li><a href="/static/javascript: void(0)" data-theme="skin-blue.min"><img src="/static/assets/dist/img/theme-color/1.jpg" alt=""/></a></li>
                                <li><a href="/static/javascript: void(0)" data-theme="skin-dark.min"><img src="/static/assets/dist/img/theme-color/2.jpg" alt=""/></a></li>
                                <li><a href="/static/javascript: void(0)" data-theme="skin-red-light.min" class="skin-logo"><img src="/static/assets/dist/img/theme-color/5.jpg" alt=""/></a></li>
                                <li><b>Dark Skin sidebar</b></li>
                                <li><a href="/static/javascript: void(0)" data-theme="skin-default.min"><img src="/static/assets/dist/img/theme-color/7.jpg" alt=""/> </a></li>
                                <li><a href="/static/javascript: void(0)" data-theme="skin-red-dark.min"><img src="/static/assets/dist/img/theme-color/6.jpg" alt=""/></a></li>
                                <li><a href="/static/javascript: void(0)" data-theme="skin-dark-1.min"><img src="/static/assets/dist/img/theme-color/8.jpg" alt=""/></a></li>
                                <li><b>Light Skin sidebar</b></li>
                                <li><a href="/static/javascript: void(0)" data-theme="skin-default-light.min" class="skin-logo"><img src="/static/assets/dist/img/theme-color/3.jpg" alt=""/></a></li>
                                <li><a href="/static/javascript: void(0)" data-theme="skin-white.min"><img src="/static/assets/dist/img/theme-color/4.jpg" alt=""/></a> </li>
                            </ul>
                        </div>
                        <div role="tabpanel" class="tab-pane fade " id="profile">
                            <h3 class="sidebar-heading">Activity</h3>
                            <div class="rad-activity-body">
                                <div class="rad-list-group group">
                                    <a href="#" class="rad-list-group-item">
                                        <div class="rad-list-icon bg-red pull-left"><i class="fa fa-phone"></i></div>
                                        <div class="rad-list-content"><strong>Client meeting</strong>
                                            <div class="md-text">Meeting at 10:00 AM</div>
                                        </div>
                                    </a>
                                    <a href="#" class="rad-list-group-item">
                                        <div class="rad-list-icon bg-yellow pull-left"><i class="fa fa-refresh"></i></div>
                                        <div class="rad-list-content"><strong>Created ticket</strong>
                                            <div class="md-text">Ticket assigned to Dev team</div>
                                        </div>
                                    </a>
                                    <a href="#" class="rad-list-group-item">
                                        <div class="rad-list-icon bg-primary pull-left"><i class="fa fa-check"></i></div>
                                        <div class="rad-list-content"><strong>Activity completed</strong>
                                            <div class="md-text">Completed the dashboard html</div>
                                        </div>
                                    </a>
                                    <a href="#" class="rad-list-group-item">
                                        <div class="rad-list-icon bg-green pull-left"><i class="fa fa-envelope"></i></div>
                                        <div class="rad-list-content"><strong>New Invitation</strong>
                                            <div class="md-text">Max has invited you to join Inbox</div>
                                        </div>
                                    </a>
                                </div>
                            </div>
                    
                            <h3 class="sidebar-heading">Tasks Progress</h3>
                            <ul class="sidebar-menu">
                                <li>
                                    <a href="#">
                                        <h4 class="subheading">
                                            Task one
                                            <span class="label label-danger pull-right">40%</span>
                                        </h4>
                                        <div class="progress">
                                            <div class="progress-bar progress-bar-danger progress-bar-striped active" style="width: 40%"></div>
                                        </div>
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <h4 class="subheading">
                                            Task two
                                            <span class="label label-success pull-right">20%</span>
                                        </h4>
                                        <div class="progress">
                                            <div class="progress-bar progress-bar-success progress-bar-striped active" style="width: 20%"></div>
                                        </div>
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <h4 class="subheading">
                                            Task Three
                                            <span class="label label-warning pull-right">60%</span>
                                        </h4>
                                        <div class="progress">
                                            <div class="progress-bar progress-bar-warning progress-bar-striped active" style="width: 60%"></div>
                                        </div>
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <h4 class="subheading">
                                            Task four
                                            <span class="label label-primary pull-right">80%</span>
                                        </h4>
                                        <div class="progress">
                                            <div class="progress-bar progress-bar-primary progress-bar-striped active" style="width: 80%"></div>
                                        </div>
                                    </a>
                                </li>
                            </ul>
                        </div>
                        <div role="tabpanel" class="tab-pane fade " id="messages">
                            <div class="message_widgets">
                                <a href="#">
                                    <div class="inbox-item">
                                        <div class="inbox-item-img"><img src="/static/assets/dist/img/abbas.jpeg" class="img-circle" alt=""></div>
                                        <strong class="inbox-item-author">Durga Prasad</strong>
                                        <span class="inbox-item-date">-13:40 PM</span>
                                        <p class="inbox-item-text">Hey! there I'm available...</p>
                                        <span class="profile-status available pull-right"></span>
                                    </div>
                                </a>
                                <a href="#">
                                    <div class="inbox-item">
                                        <div class="inbox-item-img"><img src="/static/assets/dist/img/avatar2.png" class="img-circle" alt=""></div>
                                        <strong class="inbox-item-author">Sahith</strong>
                                        <span class="inbox-item-date">-13:40 PM</span>
                                        <p class="inbox-item-text">Hey! there I'm available...</p>
                                        <span class="profile-status away pull-right"></span>
                                    </div>
                                </a>
                                <a href="#">
                                    <div class="inbox-item">
                                        <div class="inbox-item-img"><img src="/static/assets/dist/img/avatar3.png" class="img-circle" alt=""></div>
                                        <strong class="inbox-item-author">Sai Kumar</strong>
                                        <span class="inbox-item-date">-13:40 PM</span>
                                        <p class="inbox-item-text">Hey! there I'm available...</p>
                                        <span class="profile-status busy pull-right"></span>
                                    </div>
                                </a>
                                <a href="#">
                                    <div class="inbox-item">
                                        <div class="inbox-item-img"><img src="/static/assets/dist/img/avatar4.png" class="img-circle" alt=""></div>
                                        <strong class="inbox-item-author">Kalyan</strong>
                                        <span class="inbox-item-date">-13:40 PM</span>
                                        <p class="inbox-item-text">Hey! there I'm available...</p>
                                        <span class="profile-status offline pull-right"></span>
                                    </div>
                                </a>
                                <a href="#">
                                    <div class="inbox-item">
                                        <div class="inbox-item-img"><img src="/static/assets/dist/img/avatar5.png" class="img-circle" alt=""></div>
                                        <strong class="inbox-item-author">Amir</strong>
                                        <span class="inbox-item-date">-13:40 PM</span>
                                        <p class="inbox-item-text">Hey! there I'm available...</p>
                                        <span class="profile-status available pull-right"></span>
                                    </div>
                                </a>
                                <a href="#">
                                    <div class="inbox-item">
                                        <div class="inbox-item-img"><img src="/static/assets/dist/img/avatar.png" class="img-circle" alt=""></div>
                                        <strong class="inbox-item-author">Salman</strong>
                                        <span class="inbox-item-date">-13:40 PM</span>
                                        <p class="inbox-item-text">Hey! there I'm available...</p>
                                        <span class="profile-status available pull-right"></span>
                                    </div>
                                </a>
                                <a href="#">
                                    <div class="inbox-item">
                                        <div class="inbox-item-img"><img src="/static/assets/dist/img/avatar.png" class="img-circle" alt=""></div>
                                        <strong class="inbox-item-author">Taman</strong>
                                        <span class="inbox-item-date">-13:40 PM</span>
                                        <p class="inbox-item-text">Hey! there I'm available...</p>
                                        <span class="profile-status available pull-right"></span>
                                    </div>
                                </a>
                                <a href="#">
                                    <div class="inbox-item">
                                        <div class="inbox-item-img"><img src="/static/assets/dist/img/avatar4.png" class="img-circle" alt=""></div>
                                        <strong class="inbox-item-author">Jhon</strong>
                                        <span class="inbox-item-date">-13:40 PM</span>
                                        <p class="inbox-item-text">Hey! there I'm available...</p>
                                        <span class="profile-status offline pull-right"></span>
                                    </div>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="control-sidebar-bg"></div>
            <div id="page-wrapper">
                <div class="content">
                    <div class="content-header">
                        <div class="header-icon">
                            <i class="pe-7s-room"></i>
                        </div>
                        <div class="header-title">
                            <h1>Room History</h1>
                            <ol class="breadcrumb">
                                <li><a href="/room history">Room Booking History</a></li>
                            </ol>
                        </div>
                    </div>
                   

                        <div class="row">
                            <div class="col-sm-12">
                                    <div class="panel-heading">
                                        <div class="panel-title">
                                            <h4 style="font-size: larger;">Room History<b> </b></h4>
                                        </div>
                                    </div>
                                    <div class="panel-body">
                                        <div class="table-responsive">
                                            <table class="table table-bordered table-hover">
                                                <thead>
                                                  <tr>
                                                                                                            
                                                    <th>Name</th>
                                                    <th>Last Name</th>
                                                    <th>Email</th>
                                                    <th>room Type </th>
                                                    <th>Number of Persons</th>
                                                    <th>Check-in Date </th>
                                                    <th>Mobile Number </th>
                                                    <th>Luggage Size </th>
                                                    <th>Edit/Delete</th>
                                                       
                                                        
                                                    
                                                    </tr>
                                                </thead>
                                                {% for a in all_data %}                           
    
                                                <tr>
                                                    <td>{{a.fname}}</td>
                                                    <td>{{a.lname}}</td>
                                                    <td>{{a.email}}</td>
                                                    <td>{{a.room_type}}</td>
                                                    <td>{{a.no_of_persons}}</td>
                                                    <td>{{a.check_in_date}}</td>
                                                    <td>{{a.mob_no}}</td>
                                                    <td>{{a.luggage}}</td>
                                                    <!-- <td>
                                                        <button class="btn btn-info btn-sm" data-toggle="tooltip" data-placement="left" title="Update"><i class="fa fa-pencil" aria-hidden="true"></i></button>
                                                        <button class="btn btn-danger btn-sm" data-toggle="tooltip" data-placement="right" title="Delete "><i class="fa fa-trash-o" aria-hidden="true"></i></button>
                                                    </td> -->
                                                    <td>
                                                        <a class="nav-link" href="/edit_room1/{{a.id}}" style="color:rgb(39, 129, 141)">
                                                          <i class="fa fa-edit Update" aria-hidden="true"></i>
                                                        </a> 
                                                    
                                                        <a class="nav-link" href="delete6/{{a.id}}" style="color:rgb(39, 129, 141)">
                                                          <i class="fa fa-trash" aria-hidden="true"></i>
                                                        </a>
                                                      </td>
                                        
                                                </tr>
                                                                                </tbody>
                                                                                {% endfor %}
                                                              </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div> 
                </div>
            </div>      
                        
        <script data-cfasync="false" src="/static/../../../cdn-cgi/scripts/5c5dd728/cloudflare-static/email-decode.min.js"></script>
        <script src="/static/assets/plugins/jQuery/jquery-1.12.4.min.js"></script>
        <script src="/static/assets/plugins/jquery-ui-1.12.1/jquery-ui.min.js"></script>
        <script src="/static/assets/bootstrap/js/bootstrap.min.js"></script>
        <script src="/static/assets/plugins/metisMenu/metisMenu.min.js"></script>
        <script src="/static/assets/plugins/lobipanel/lobipanel.min.js"></script>
        <script src="/static/assets/plugins/animsition/js/animsition.min.js"></script>
        <script src="/static/assets/plugins/fastclick/fastclick.min.js"></script>
        <script src="/static/assets/plugins/slimScroll/jquery.slimscroll.min.js"></script>
        
        <script src="/static/assets/plugins/sparkline/sparkline.min.js"></script>
        <script src="/static/assets/plugins/counterup/jquery.counterup.min.js"></script>
        <script src="/static/assets/plugins/counterup/waypoints.js"></script>
        <script src="/static/assets/plugins/emojionearea/emojionearea.min.js"></script>
        <script src="/static/assets/plugins/monthly/monthly.min.js"></script>
        <script src="/static/assets/plugins/amcharts/amcharts.js"></script>
        <script src="/static/assets/plugins/amcharts/ammap.js"></script>
        <script src="/static/assets/plugins/amcharts/worldLow.js"></script>
        <script src="/static/assets/plugins/amcharts/serial.js"></script>
        <script src="/static/assets/plugins/amcharts/export.min.js"></script>
        <script src="/static/assets/plugins/amcharts/light.js"></script>
        <script src="/static/assets/plugins/amcharts/pie.js"></script>
        <script src="/static/assets/dist/js/app.min.js"></script>
        <script src="/static/assets/dist/js/page/dashboard.min.js"></script>
        <script src="/static/assets/dist/js/jQuery.style.switcher.min.js"></script>
    </body>

</html>